a(href=`/article/${article._id}`)
  h3= article.title
p= article.content
span.time= `时间: ${article.createdTime}`
span.bottom= `浏览(${article.browse})`
if article.author._id.toString() === user._id
  span.ui.dropdown
    i.angle.up.icon
    .menu
      .item 编辑
      .item
        a(href=`/article/${article._id}/remove`) 删除
  include ../script/dropdown
