a(href=`/article?author=${usera._id}`)
  img.avatar(src=`/img/${usera.avatar}` data-title=`${usera.name}|${usera.gender === 'm' ? '男' : '女'}` data-content=`${usera.sign}` data-position="bottom left")
include ../script/popup